*{
    margin: 0;padding: 0;
    list-style: none;
    outline: none;
}
.max-width-1440{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid rgb(64, 21, 21);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-list{
    display: flex;
    gap: 20px;
}