*{
    margin: 0;padding: 0;
    list-style: none;
    outline: none;
}
.section1{
    border: 2px solid;
    width: 1440px;
height: 80px;
gap: 0px;
/* border: 0px 0px 1px 0px; */
opacity: 0px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-list{
    display: flex;
    gap: 20px;
}