@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
.max-width-1440 {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid rgb(64, 21, 21); */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-list {
  display: flex;
  gap: 20px;
}
.section2{
   display: flex;
    

}

.section2-left {
  display: flex;
  flex-direction: column;
  width: 610px;
  height: 383px;
  gap: 14px;
}
.section2-left h2 {
  width:520px;
  
}
